<html>

<head>
    <title>MyCodeBlog</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
        </nav>


    </header>

    <section>
        <!--Listagem de poster-->
        <div class="container" style="width: 60%; padding-bottom: 30px;">
            <!--breadcrumb - Voltar para home-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white;padding-left: 0px;">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <!--Cards dos posters-->
            <div class="card text-white bg-dark mb-3" style="margin-top: 20px;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

        </div>


    </section>
</body>


</html>