<!DOCTYPE html>
<!--Referenciando o Thymeleaf-->
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>MyCodeBlog</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
        </nav>


    </header>

    <section>
        <!--Listagem de poster-->
        <div class="container" style="width: 60%; padding-bottom: 30px;">
            <!--breadcrumb - Voltar para home-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white;padding-left: 0px;">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <!--Cards dos posters-->
            <div class="card text-white bg-dark mb-3" style="margin-top: 20px;" th:each="post :${posts}">
                <div class="card-header">Post#<span th:text="${post.id}"></span></div>
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                        <span th:text="${post.autor}"></span>,
                        <span th:text="${post.data}"></span>
                    </p>
                    <a href="">
                        <h5 class="card-title" style="font-weight: bold; padding-top: 5px; ">
                            <span th:text="${post.titulo}"></span>
                        </h5>
                    </a>

                    <p class="card-text">
                        <span th:utext="${#strings.abbreviate(post.texto,400)}"></span>
                    </p>
                </div>
            </div>

        </div>


    </section>
</body>


</html>